# Ignore all compiled class files
*.class

# Ignore log files
*.log

# Ignore BlueJ files
*.ctxt

# Ignore IntelliJ IDEA project files
*.idea/
*.iml
out/

# Ignore Eclipse project files
*.classpath
*.project
*.settings/

# Ignore build directories
/bin/
/build/
/target/
